body{
    background-color: rgba(0, 0, 0, 0.784);
}



audio{bottom: 0;
position: fixed;
width: 20%;
height: 30px;
}

main{
  display: none;

}
#pop-up{
background-color: #DB4BD7;
width: 60%;
border-radius: 15px;
padding: 60px;

}
.janela-pop-up{
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container-pop-up{
  display: flex;
 
  padding: 100px;
}

button{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

  .conteudopop-up{
    width: 100%;
    color: white;
    text-align: center;
    line-height: 30px;
    margin: auto;
  }

.slide{
    display: flex;
    justify-content: center;
    margin: 140px 0px;
    height: 75vh;

}


.fotos {
    display: none; /* Esconde todas as imagens */
    border-radius: 10px;

  }
  
  .fotos.active {
    display: block; /* Exibe a imagem ativa */
  }
  
  #area-coracoes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* não atrapalha cliques */
    z-index: 999;
  }
  
  .coracao {
    position: absolute;
    font-size: 30px;
    animation: subir 2s linear forwards;
    opacity: 1;
  }
  
  @keyframes subir {
    0% {
      bottom: 0;
      opacity: 1;
    }
    100% {
      bottom: 100%;
      opacity: 0;
    }
  }
  